<!DOCTYPE html>
<html>
<head>
	<title>Activity Tracker </title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />

   <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<body>
	<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            {{#if user}}
              <li role="presentation"><a href="/">Dashboard</a></li>
              <li role="presentation"><a href="/addactivity">Activity</a></li>
              <li role="presentation"><a href="/info">Profile</a>
                
              </li>
              <li role="presentation"><a href="/about">About Us</a></li>
              <li role="presentation"><a href="/users/logout">Logout</a></li>
              

            {{else}}
              <li role="presentation"><a href="/users/login">Login</a></li>
              <li role="presentation"><a href="/users/register">Register</a></li>
              <li role="presentation"><a href="/about">About Us</a></li>
            {{/if}}
          </ul>
          <select class="hambergermenu">
            <option value="/">Select page</option>
            {{#if user}}
              
              <option value="/">Dashboard</option>
              <option value="/addactivity">Activity</option>
              <option value="/info">Profile
                
              </option>
              <option value="/about">About Us</option>
              <option value="/users/logout">Logout</option>
              

            {{else}}
              <option value="/users/login">Login</option>
              <option value="/users/register">Register</option>
              <option value="/about">About Us</option>
            {{/if}}
            
          </select>

        </nav>
        <h3 class="text-muted">Activity Tracker</h3>
      </div>


      <div class="row">
        <div class="col-lg-12 ">
          {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}
          
          {{{body}}}
        </div>

        
      </div>

      <footer class="footer">
        <p>Activity Tracker </p>
      </footer>

    </div> <!-- /container -->
   
    <script type="text/javascript">
      $('.hambergermenu').change(function()
      {
        console.log(this.value);
        window.location.href = this.value;
      })
    </script>
</body>
</html>
